* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
/* Header Area */
nav{
  align-items: center;
  background-color: rgb(0, 85, 255);
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 20px 0;
  position: fixed;
  transition: all .4s;
  width: 100%;
}
.logo{
  color: white;
  cursor: pointer;
  font-size: 32px;
  padding-left: 20px;
}
.menu_block li{
  text-decoration: none;
  display: inline-block;
}
.menu_link{
  color: white;
  font-size: 18px;
  padding: 10px 16px;
}
.hero{
  background-image: url("./images/landscape1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}
/* About Area */
.about-wraper{
  width: 100%;
  display: flex;
  gap: 100px;
  padding-right: 20px;
}

.about-info{
  margin-top: 120px;
}
.about-name{
  color: #000;
  font-size: 44px;
  font-weight: bold;
  line-height: 44px;
  margin: 8px 0;
}
.about-occupation{
  color: #332929;
  margin-bottom: 10px;
  font-size: 24px;
}
.about-company{
  color: #473838;
  font-size: 18px;
  margin-bottom: 10px;
}

.about-dec{
  font-size: 18px;
  color: #2a0505;
  text-align: justify;
  }
  /* Service Area */
.service-wrap{
  margin-top: 100px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}
.service-content{
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 12px;
  padding: 30px;
}

.service-content i{
  font-size: 32px;
  margin-bottom: 13px;
  color: aqua;
  border: 1px dotted red;
  border-radius: 50%;
  padding: 20px;
}
.service-content h2{
  color: #2a0505;
  font-size: 25px;
  margin-bottom: 6px;
  line-height: 34px;
  text-transform: capitalize;
}
.service-content p{
  color: #121224;
  font-size: 19px;
}
/* Team Area */
.team{
  padding: 100px 0 100px 0;
}
.team{
  display: grid;
  gap: 30px;
  grid-template-columns: auto auto auto auto;
}
.team-content img{
  border: 1px dotted greenyellow;
  border-radius: 6px;
}
.team-content h2{
  font-size: 24px;
  line-height: 36px;

}
.team-content p{
  font-size: 17px;
  line-height: 26px;
}
/* Blog Area */
.blog-image{
  background-image: url("/images/landscape2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}
.blog-content p{
  font-size: 18px;
  padding-top: 14px;
  initial-letter: 5;
}
.blog-content p::first-letter{
  font-size: 52px;
}
/* Footer Area */
.footer{
  padding: 30px 0;
  color: rgb(250, 248, 245);
  background-color: #35354c;
  font-size: 16px;
  text-align: center;
}
.footer a{
  color: blue;
}